* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: 'Figtree', 'Noto Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: white;
}
